force-app/main/default/flows/Missed_Pickup_Alert_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Missed_Pickup_Email</name>
        <label>Send Missed Pickup Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Visit_Log__c.Alert_Supervisor_for_Missed_Pickup</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>currentVisit</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentVisit.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Visit_Log__c.Alert_Supervisor_for_Missed_Pickup</nameSegment>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <decisions>
        <description>This step checks if any missed visits were found. If none, the flow ends; if there are missed visits, the flow continues to process them.</description>
        <name>Check_for_Missed_Visits</name>
        <label>Check for Missed Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Missed_Visit_Logs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>currentVisit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Scheduled flow to identify missed waste collection visits and alert supervisors by creating tasks and sending emails. Runs daily, processes Visit Logs with incomplete status and past scheduled time, and sends notifications for each missed pickup.</description>
    <environments>Default</environments>
    <interviewLabel>Missed Pickup Alert Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Missed Pickup Alert Automation</label>
    <loops>
        <description>Iterates over each missed Visit Log record in the collection. The current record is available using the &quot;currentVisit&quot; variable.</description>
        <name>currentVisit</name>
        <label>currentVisit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Missed_Visit_Logs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Supervisor</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Missed_Pickup_Task</name>
        <label>Create Missed Pickup Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Missed_Pickup_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>MissedPickupNotification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Supervisor.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>MissedPickupAlert</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Fetches missed pickups based on scheduled time in Timestamp__c and incomplete status.</description>
        <name>Get_Missed_Visit_Logs</name>
        <label>Get Missed Visit Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Missed_Visits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Timestamp__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visit_Log__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Vehicle__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Route__c</queriedFields>
        <queriedFields>Timestamp__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Zone__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Visit_Location__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Supervisor</name>
        <label>Get Supervisor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Missed_Pickup_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentVisit.Zone__r.Supervisor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Missed_Visit_Logs</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-09-25</startDate>
            <startTime>16:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MissedPickupAlert</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&quot;Missed Pickup Alert - &quot; &amp;amp; {!currentVisit.Name}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>MissedPickupNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Missed Pickup Notification&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Visit Name: {!currentVisit.Name}&lt;/p&gt;&lt;p&gt;Route: {!currentVisit.Route__c}&lt;/p&gt;&lt;p&gt;Vehicle: {!currentVisit.Vehicle__c}&lt;/p&gt;&lt;p&gt;Zone: {!currentVisit.Zone__c}&lt;/p&gt;&lt;p&gt;Scheduled Pickup Time: {!currentVisit.Timestamp__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review this missed visit and take appropriate action.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SendEmailAlertForMissedPickup</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Subject: Missed Pickup Alert for {!currentVisit.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dear {!Get_Supervisor.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is to notify you of a missed pickup in the waste collection schedule.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Details:&lt;/p&gt;&lt;p&gt;- Visit Name: {!currentVisit.Name}&lt;/p&gt;&lt;p&gt;- Route: {!currentVisit.Route__c}&lt;/p&gt;&lt;p&gt;- Vehicle: {!currentVisit.Vehicle__c}&lt;/p&gt;&lt;p&gt;- Zone: {!currentVisit.Zone__c}&lt;/p&gt;&lt;p&gt;- Scheduled Pickup Time: {!currentVisit.Timestamp__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review this missed visit and take any necessary actions.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;Waste Management Operations&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
